@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container.wraper-contend-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.library-titles {
    flex: 1 1 25rem;
}

.library-titles p {
    padding-right: 4rem;
    line-height: 28px;
    font-size: 1.6rem;
}

.library-titles h4 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 250;
    margin-bottom: 1.5rem;
}