@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.main-page.bg {
    background-color: #F3F0EC;
    display: flex;
    padding: 5rem 0;
    justify-content: center
}


.contend-section {
    max-width: 65%;
    background-color: #fff;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
    /* height: fit-content;*/
}

/*This media remove the margin right of the container*/
@media(max-width:826px) {
    .contend-section.container {
        margin-right: 0rem;
    }
}

.faq-item,
.link-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.faq-title,
.link-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 2rem;
}

.faq-title img.cross,
.link-title img.cross {
    padding: 1.4rem
}

/* disable background  */
.faq-title.on img.cross,
.link-title.on img.cross {
    background-color: #241f20;
}

.faq-title:hover img.cross,
.link-title:hover img.cross {
    background-color: #241f20;
}

.faq-title h4,
.link-title h4 {
    font-family: 'Playfair Display', serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 1.6rem;
    font-weight: 200;
    color: #241f20;
    /* letter-spacing: 1px; */
}

.faq-title img,
.link-title img {
    background-color: #002140;
    padding: 12px;
}

.faq-item p.faq-answer {
    font-size: 1.6rem;
    line-height: 28px;
    color: #241F20;
    font-weight: 500;
    padding: 1rem 0;
    padding-left: 2rem;
    margin: 2rem 0;
}

.faq-item ul.list-faq li p {
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 28px;
    color: #241F20;
    font-weight: 500;
}


/* when user clicon the question, the class 'on' is added and turn blue the question background.*/
.faq-title.on,
.link-title.on {
    background-color: #002140;
    color: #fff;
    font-weight: 400;
}

.faq-title.on h4,
.link-title.on h4 {
    color: #fff;
}

ul.list-faq {
    margin-left: 2rem;
    margin-right: 2rem;
}

ul.list-faq li p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0rem 2rem;
    color: #241F20;
    font-weight: 500;
}


ul.list-faq p::before {
    content: '';
    display: block;
    background-color: #241f20;
    padding: 0.2rem;
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width:826px) {
    .main-page.bg {
        justify-content: center !important;
    }

    .contend-section.container {
        max-width: 90%;
    }
}