@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* 
********** HEADER ********
*/

/* firt header container */
.first-column.container {
    padding: 2.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.first-column.container ul {
    display: flex;
    justify-content: flex-start;
}

.first-column.container ul li:first-child {
    margin-right: 35px;
}

/* Estiliza os elmentos de acessibilidade e pesquisa do menu */
.first-column.container ul li a {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: #002140;
}

.first-column.container ul li a img {
    margin-right: 10px;
}


/*######################################################
.second-column :
######################################################*/

.second-column {
    background-color: #002140;
    height: 6rem;
    display: flex;
    align-items: center;
}

/* note displayed above 877px */
/* IMPORTANT: add 'on' class using js ;) */
.second-column .container.on {}

.second-column .container.on .wrapper-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* add style on  the title 'menu' */
.second-column .container.on .wrapper-hamburger span.title-menu {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

/* create a cool menu hamburguer */
.menu-hamburguer span.row {
    display: block;
    background-color: #fff;
    height: 1px;
    width: 30px;
    margin: 4px;
    padding: 2px;
}

/* Turn the nave ul flexible */
.second-column .container.off {
    display: none;
}

.second-column .container nav.menu ul {
    display: flex;
}

.second-column .container nav.menu ul li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

/* ******* Style responsive menu right side */
.container.on.right-side {
    position: relative;
}

.container.off.lateral {
    width: 100vw;
    position: absolute;
    display: block;
    top: 17rem;
    background-color: #fff;
}

.container.off.lateral nav.menu ul {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    margin-left: 4rem;
}

.container.off.lateral nav.menu ul li {
    border-bottom: 0.1px solid #E5E5E5;
}

.container.off.lateral nav.menu ul li a {
    color: #241f20;
}

.container nav.menu {
    display: none;
    visibility: hidden;
}

/* remove a palavra  */
@media(max-width:520px) {

    .accessibility-title,
    .search-title {
        display: none;
    }

    .first-column.container ul li:first-child {
        margin-right: 1rem;
    }
}