@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*******************BEGIN*********************/
/******** The social media top paget style****/
.social-medias-top-page {
    align-self: flex-start;
    margin: 2.5rem 0
}

.social-medias-top-page ul {
    display: flex
}

.social-medias-top-page ul li {
    margin-right: 20px;
    width: 1.8rem
}

/*END*/

.main-page.bg {
    background-color: #F3F0EC;
    display: flex;
    padding: 5rem 0;
    justify-content: center
}


/********************BEGIN*********************/
/*********** All pages has the style below*****/
.section.container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.title-section {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-content: center;


}

/* title */
.title-section h4 {
    font-family: 'Playfair Display', serif;
    color: #241F20;
    font-size: 4.5rem
}

/* subtitle */
.title-section ul li span {
    margin-top: 0.8rem;
    margin-bottom: 4rem;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: #241f20;
    line-height: 30px;
    font-weight: 400;

}

.contend-section {
    max-width: 65%;
    background-color: #fff;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.text-wrapper {
    max-width: 65%;
    align-self: flex-end;
    margin-bottom: 5rem
}

.text-wrapper p {
    margin: 2rem 0;
    font-size: 1.8rem;
    color: #241F20;
    line-height: 30px
}


/****************************************************************************** 
Pages that contains the style below
-page-graducao,
-page-posgraduacao
-page-cursos-previstos
-page-editais
-page-noticias
-page-contato
-page-biblioteca
-page-faq
*/


.bg-gray {
    background-color: #D9D9D9;
    padding: 5rem 0
}

.bg-gray .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}


.bg-gray .container ul li h4 {
    font-size: 3rem;
    color: #241F20;
    font-family: 'Source Serif Pro', serif
}

.bg-gray .container ul li span.sub-title {
    display: block;
    font-size: 1.6rem;
    width: 65%;
    line-height: 2.5rem;
    margin-top: 3rem
}

.box-cursos {
    display: flex;
    flex-direction: column;
    width: 45em;
    padding: 25px
}

.box {
    margin-bottom: 3rem;
    -webkit-box-shadow: 0px 0px 12px -1px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 12px -1px rgb(94, 94, 94);
    box-shadow: 0px 0px 12px -1px rgb(94, 94, 94)
}

ul.box li h4.title {
    font-size: 2rem;
    background-color: #002140;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem
}


ul.box li h4::after {
    display: block;
    content: url(../img/icons/plus-thin\ 1.svg);
    /* display: inline-block; */
    background-color: #241F20;
    height: 100%;
    padding: 1.3rem;
    cursor: pointer
}

ul.bg-write {
    background-color: #fff;
}

ul.bg-write li {
    display: block;
    width: 100%;
    border-bottom: 2px solid #F3F0EC;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between
}

ul.bg-write li a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: #241F20
}

/****** CONTATO ******/
.main-page.bg-contato {
    margin: 5rem 0;
    padding: 5rem 0
}

.main-page.bg-contato {
    background-color: #002140 !important;
    width: 100%;
    display: flex
}

.wrapper-address {
    width: 100vw;
    display: flex;
    flex-wrap: wrap
}

.polo-address {
    flex: 1 1 15%;
    padding: 4rem;
    background-color: #fff;
    display: flex;
    flex-direction: column
}

.item-address {
    margin: 2rem 0
}

span.address-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 3rem
}

span.address-description {
    display: block;
    color: #241f20;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    margin-top: 1.3rem
}

.polo-map {
    flex: 2 1 60rem;
    display: block;
    width: 100%
}

.polo-map iframe {
    display: block;
    width: 100%;
    height: 100%
}


@media(max-width:735px) {
    .polo-map {
        height: 45rem
    }
}