@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

img {
    /*image-rendering: Dimensiona a imagem sem perder qualidade  */
    /* image-rendering: pixelated; */
    display: block;
    max-width: 100%;
}

html,
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;


}

html {
    /*  a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crimson Text', serif;
}

.container {
    width: 90%;
    max-width: 200em;
    margin: 0 auto;
}

p.text {
    line-height: 3rem;
    font-size: 1.8rem;
    color: #241f20;
    font-weight: 400;
}

.bg {
    background-color: #F3F0EC;
    width: 100%;
}

h4.title-section {
    text-transform: capitalize;
    font-family: 'Libre Bodoni', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 7rem;
    color: #241f20
}